.ListView {
    width: 50%;
    height: 100vh;
    padding: 20px;
}

.addTaskDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100;
    padding: 10px; 
}

.calendarIcon {
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
}

.addTaskInput {
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    border-radius: 25px;
    border: 1px solid var(--text);
}