.ListView {
    width: 50%;
    height: 100vh;
    padding: 20px;
}

.addTaskDiv {
    width: 100;
    padding: 10px; 
}

.addTaskInput {
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    border-radius: 25px;
    border: 1px solid var(--text);
}