.ListView {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.addTaskDiv {
    width: 100;
    background-color: green;
}

.addTaskInput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}