.Menu {
    width: 250px;
    height: 100vh;
    margin: 0px;
    padding-top: 5px;
    background-color: var(--surface);
}

ul {
    padding: 0;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

span {
    color: var(--text);
}