.MenuTab {
    padding: 5px 10px 0px 10px;
    display: flex;
    vertical-align: middle;
}

.menuButton:focus {
    color: var(--button);
    border-left: 2px solid var(--button);
    padding-left: 0px; /* this counteracts the 2px push to the right that the border caused**/
}

.menuButton {
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    background: var(--background);
    color: var(--text);
    width: 100%;
    border: 10px green;
    align-items: center;
    

}

.menuIcon {
    padding-right: 3px;
}


