.Details {
    padding: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
}
.taskTitle {
    font-size: 27px;
    border: none;
    background-color: var(--surface);
    padding-bottom: 20px;
}
.taskTitle:focus {
    border: none;
    outline: none;
}
.DetailItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
}
.DetailItemName {
    width: 100%;
    margin-bottom: 0;
}
.DetailDescription {
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
}
.DetailDescription .material-symbols-outlined {
    padding-top: 7px;
}
.DetailTextArea {
    width: 100%;
    background-color: var(--surface);
    border: none;
    resize:none;
    border-radius: 25px;
    padding: 10px
}
.DetailTextArea:focus {
    border: none;
    outline: none;
}