:root {
  --background: #f1f1f1;
  --secondary: white;
  --text: black;
  --surface: #f9f9f9;
  --button: #3f37c9;
  --gray-highlight: #545454;
  --border: #e3e4e7
}

[data-theme = 'dark'] {
  --background: black;
  --secondary: #171717;
  --text: white;
  --surface: #121212;
  --button: #3f37c9;
  --gray-highlight: #bfbfbf;
  --border: #black
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
