.MainView {
    width: 88%;
    border-radius: 15px;
    display: block;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-right:10px;
    background-color: var(--surface);
    border: 2px solid var(--border);
}

