.MenuTab {
    padding: 5px 10px 0px 10px;
    display: flex;
    vertical-align: middle;
    width: 180px;
}

.menuButton {
    display: flex;
    flex-direction: row;
    color: var(--button);
    width: 100%;
    align-items: center;
    border-radius: 50px;
}

.menuIcon {
    padding-left: 0px;
    padding-right: 7px;
}

.menuButton p {
    text-align: center;
    margin: 0;
}



