.TaskListItem {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.taskLabel {
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 0;
}
.taskCheckBox {
    border-radius: 10px;
    background-color: red;
}