.TimePickerButton {
    
}

.timepicker-native {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.timepicker-native-input {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}
.timepicker-native-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
.pickerLabel {
    margin: 0;
    padding-left: 10px;
}
.material-symbols-outlined {
    font-weight: 300;
}